
body{
    margin: 0;
    background: #efefef;
    font: 14px/1.5 Arial;
    color: #666;
}
a{
    text-decoration: none;
}
.layout{
max-width:900px;
margin: 0 auto;

}
#page{
display: flex;
flex-wrap:wrap;
}
header{
    height: 100px;
    width: 100%;
    background: #3c3c3c;
    text-align:center;
    padding: 60px 0 10px 0;
    color: #fff;
}
header>h1{
    font-size: 24px;
    margin-bottom: 0;
}
header>p{
    font-size: 18px;
    color: #aaa;
    margin: 0;
}
aside{
background: white;
width: 240px;
border-right: 1px solid #ccc;
position: relative;
padding-top: 100px ;
}
aside .avatar{
text-align: center;
position: absolute;
top: -85px;
width: 100%;
}
aside .avatar img{
    width: 150px;
    height: 150px;
    border-radius:50%;
    border: 1px solid #ccc;
    background: #ccc;
}
section{
    border-bottom: 2px solid #ccc;
    margin: 30px 10px 0 20px;
    padding-bottom: 20px;
}
section h2{
    color: #5c99ca;
    font-size: 16px;
}
.personal{

}
.personal .item span:first-child{
    display: inline-block;
    width: 80px;   
}
.personal .item span:last-child::before{
    content: ':';
    margin-right: 10px;
}
.skills .item{
    display: flex;
    align-items: center;
}
.skills .keyword{
    width: 80px;
}
.skills .rule{
    flex: 1;
    background:#ccc;
    height: 4px;
}
.skills .rule i{
    display: block;
    width: 10%;
    height: 4px;
    background: #000;

}
.contact .item{
    display: flex;
    align-items: center;
    padding: 5px;  
}
.contact .item span{
    margin-left: 20px;
}

main{
    background: white;
flex: 1;
min-height: calc(100vh - 100px)
}
main section .item img{
    margin-top: 5px;
    width: 100%;
    border: 1px solid #ddd;
    border-style: dashed;
    border-radius: 5px;
}

@media (max-width: 768px) {
    header {
      padding-top: 20px;
      padding-bottom: 90px;
    }
    aside {
      width: 100%;
      padding-top: 0px;
    }
    aside .avatar img {
      width: 100px;
      height: 100px;
    }
    main{
        width: 100%;
        padding-top: 0px;
    }
   
  }